# Core ML & data
pandas
numpy
scikit-learn
scipy

# Text preprocessing
contractions
regex

# DVC + AWS
dvc[s3]
boto3
botocore
aiobotocore

# Experiment tracking
mlflow

# Utils
pyyaml
tqdm
joblib

# Logging (color handling)
colorama; platform_system == "Windows"
